body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.header {
  height: 100%;
  background-color: #75e2e6;
  border-bottom: 3px solid #048eaa;
}

.logo__image {
  width: 50px;
  height: 50px;
  margin: 10px 20px 10px 20px;
}

.header-nav {
  position: absolute;
  display: inline;
  right: 0px;
  padding-right: 10px;
  margin-top: 5px;
}

.list {
  list-style: none;
}

.list-item {
  display: inline;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 15px;
}

.preview-card {
  position: absolute;
  top: 60px;
  padding: 20px;
  width: 160px;
  height: 260px;
  background-color: #75e2e6;
  text-align: center;
}

.preview-title {
  font-size: 18px;
  text-transform: capitalize;
}

.preview-image {
  width: 80px;
  border-radius: 40px;
}

.preview-text {
  font-size: 12px;
}

#how-preview {
  position: absolute;
  right: 295px;
}

#what-preview {
  position: absolute;
  right: 155px;
}

#facts-preview {
  position: absolute;
  right: 0px;
}

.name-the-dog-block {
  background: rgba(0, 0, 0, .5) url(images/park.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 80%;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 30px;
}

.name-the-dog-form__wrapper {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.title-1 {
  font-size: 2em;
  text-transform: capitalize;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

#dog-name {
  font-weight: 700;
}

.image--circle {
  width: 180px;
  border-radius: 100px;
  border: 5px solid #048eaa;
}

.name-the-dog-form {
  text-align: center;
}

label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  padding-left: 10%;
}

#name-the-dog {
  display: block;
  width: 80%;
  max-width: 384px;
  height: 40px;
  font-size: 18px;
  color: #000;
  padding-left: 10px;
  margin: auto;
}

.name-the-dog-button {
  width: 84%;
  max-width: 400px;
  height: 46px;
  margin-top: 20px;
  background-color: #75e2e6;
  font-size: 18px;
  font-weight: 600;
}

.how-what-facts-block {
  text-align: center;
}

.content-wrapper {
  height: 100%;
  margin-top: 20px;
}

.column {
  width: 25%;
  max-width: 350px;
  display: inline-block;
  margin: 20px 5px 20px 5px;
}

.title-2 {
  text-transform: capitalize;
}

.column-image {
  width: 180px;
  border-radius: 100px;
  border: 5px solid #048eaa;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-wrapper {
  width: 80%;
  min-height: 240px;
}

.column-text {
  width: 100%;
  max-width: 300px;
  padding-left: 5px;
  min-height: 210px;
  text-align: left;
  line-height: 1.2em;
  margin-left: 25px;
  margin-right: 0px;
}

.column-button {
  width: 85%;
  max-width: 300px;
  height: 46px;
  background-color: #048eaa;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}

.label {
  font-size: 18px;
  color: #000;
}

.column-modification {
  margin-top: 40px;
}

.pixel {
  width: 60%;
  max-width: 200px;
  height: 30px;
  font-size: 18px;
  margin-left: 10px;
}

.color-picker {
  width: 50%;
  max-width: 160px;
  height: 30px;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 20px;
}

.change-button {
  width: 85%;
  max-width: 300px;
  height: 46px;
  background-color: #048eaa;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}

.show-button {
  display: block;
  margin: auto;
  width: 300px;
  height: 46px;
  background-color: #fff;
  border: 2px solid #048eaa;
  font-size: 18px;
  color: #000;
  margin-top: 20px;
}

.footer {
  background-color: #048eaa;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  margin-top: 20px;
}

.footer-text {
  text-transform: capitalize;
  color: #fff;
}

.links {
  padding-top: 10px;
}

.link-image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.shadow-animation {
	-webkit-animation: shadow-animation 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-animation 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-animation {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    box-shadow: 0 20px 20px -20px rgba(4, 142, 170, 1);
  }
}
@keyframes shadow-animation {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    box-shadow: 0 20px 20px -20px rgba(4, 142, 170, 1);
  }
}

.slide-animation {
	-webkit-animation: slide-animation 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-animation 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-animation {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-animation {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}


@media (max-width: 480px) {

  .column {
    width: 100%;
    display: block;
    margin: auto;
  }

  .column-text {
    margin-left: 10%;
  }

  .show-button {
    display: none;
  }
}

@media (max-width: 520px) {

  .header-nav {
    position: relative;
    right: 10px;
    display: block;
  }

  .list {
    margin: 0px;
  }

  .list-item {
    display: block;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .preview-card {
    display: none;
  }
}

@media (max-width: 830px) {
  .column {
    width: 50%;
    display: inline-block;
    margin: auto;
  }
}
